body{
	background: #C2FBD7;
	font-family: monospace;
}

.box-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.box{
	width: 20%;
	padding: 60px;
	background: #ffffff;
	margin: 50px auto;
	cursor: pointer;
}


.effect1,.effect2,.effect3,.effect4,.effect5{
	transition: 0.3s;
}

/*hover effect*/

.effect1:hover{
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.effect2:hover{
	transition: 0.3s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
				rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
				rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.effect3:hover{
	transition: 0.3s;
	box-shadow: 0 35px 20px #777;
}

.effect4:hover{
	transition: 0.3s;
	box-shadow: rgb(38, 55, 77) 0px 20px 30px -10px;
}

.effect5:hover{
	transition: 0.3s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
				 rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}